@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../assets/fonts/gilroy/Gilroy.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Neuton";
  font-weight: 300;
  src: url("../assets/fonts/neuton/Neuton.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: Gilroy;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: Gilroy;
}

p,
span {
  font-size: 20px;
  line-height: 30px;
  font-family: "Neuton";
}

button {
  font-family: "Neuton";
  background-color: white;
  border-radius: 8px;
  padding: 4px 12px;
  transition: transform 0.15s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
button:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

p.uppercase {
  font-family: inherit;
}

ul {
  list-style: disc;
  margin: 1rem 0;
  padding-left: 1rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadein 0.2s ease 0.2s forwards;
}
.delay-anim-500 {
  animation-delay: 500ms;
}
.delay-anim-1000 {
  animation-delay: 1000ms;
}
