.layout-title-content {
  background: linear-gradient(180deg, #edf8ff 0%, #ffffff 100%);
}

.layout-body-content {
  margin-top: 80px;
  transform-origin: top;
}
@media (min-width: 640px) {
  .layout-body-content {
    margin-top: -100px;
  }
}

.layout-header {
  transition: background-color 0.25s ease;
}

.layout-header-default {
  background-color: #ffffff00;
}

.layout-wrapper {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.layout-wrapper-menu-open {
  transform: scale(0.925);
  filter: blur(3px);
}
