.layout-title-content {
  min-height: 50vh;

  background: linear-gradient(180deg, #edf8ff 0%, #ffffff 100%);
}
@screen sm {
  .layout-title-content {
    @apply min-h-screen;
  }
}
.layout-main {
  min-height: calc(100vh - 11rem);
}

.layout-body-content {
  margin-top: 80px;
  transform-origin: top;
}
.layout-header-default {
  background-color: #ffffff00;
}

.layout-header {
  transition: background-color 0.25s ease;
}

.layout-wrapper {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.layout-wrapper-menu-open {
  transform: scale(0.925);
  filter: blur(3px);
}
@media (min-width: 640px) {
  .layout-body-content {
    margin-top: -100px;
  }
}
@media (max-width: 500px) {
  .nav {
    right: 60px !important;
    top: 15px !important;
  }
}

.footer-nav a {
  font-size: 20px;
  vertical-align: center;
  font-family: "Neuton";
}
.footer-nav a:not(:last-of-type) {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #aaaaaa;
}

@media (max-width: 500px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
  }
  .footer-nav a {
    padding: 8px 0;
  }
  .footer-nav a:not(:last-of-type) {
    margin-right: 0px;
    border-right: none;
  }
}
