.home-page-leaves {
  position: absolute;
  top: 10px;
  left: -100px;
}

.illustration-backing {
  width: 250px;
  border-radius: 24px;
  padding: 0px 2rem;
}
@media (max-width: 500px) {
  .hero-title {
    animation-delay: 0 !important;
  }
}
@screen sm {
  .hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: white;
    transform: translate(-50%, calc(-50% - 40px));
  }
  .illustration-backing {
    height: 250px;
    background: linear-gradient(
        242.35deg,
        #ffffff 13.6%,
        rgba(255, 255, 255, 0) 82.18%
      ),
      #edf8ff;
    padding: 2rem;
  }
  .illustration-backing-reverse {
    background: linear-gradient(
        117.65deg,
        #ffffff 13.6%,
        rgba(255, 255, 255, 0) 82.18%
      ),
      #edf8ff;
    margin-left: 0px;
  }
  .illustration-backing svg {
    max-height: 175px;
    margin-bottom: 0px;
  }
}

.illustration-backing svg {
  max-height: 150px;
  margin-bottom: 24px;
}

.illustration-backing-reverse {
  padding: 0px;
}

.contact-logo svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: white;
}

.contact-logo:last-of-type svg {
  padding: 4px;
  border-radius: 8px;
  @apply shadow-md;
}
